{% extends "_/base.html" %}
{% load static sekizai_tags %}

{% block content %}
    {% block ex_content %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% addtoblock "js" %}<script src="{% static "js/excursions/main.admin.js" %}"></script>{% endaddtoblock %}
    {% endif %}

    {% addtoblock "js" %}
        <script>
            // left menu fixed control
            $(function () {
                var menu = $($(".list-group-menu")[0]);
                var top = menu.position().top - 10;
                var check = false;
                var event = function () {
                    if (menu.height() < $(this).height() && $(this).scrollTop() > top) {
                        menu.css({
                            position: "fixed",
                            top: 10
                        });
                        check = true;
                    } else if (check) {
                        menu.css({
                            position: "",
                            top: ""
                        });
                        check = false;
                    }
                };
                $(window).scroll(event).resize(event);
            });

        </script>
    {% endaddtoblock %}
{% endblock %}