{% extends "excursions/base.html" %}
{% load static sekizai_tags %}

{% block ex_content %}
    <div class="e-preview">
        {% for c in categories %}
            <div class="e-class-container">

                <a class="e-class-description" href="{% url "excursions.views.category" c.pk %}">
                    <div class="e-class">
                        <h3>{{ c.title }}</h3>
                    </div>
                </a>
                {% if user.is_authenticated %}
                    <div class="e-class-menu">
                        <div class="btn-group">
                            <button class="btn btn-success"
                                    data-toggle="modal"
                                    data-target="#modal-category-edit"
                                    data-id="{{ c.pk }}"
                                    data-title="{{ c.title }}"
                                    data-description="{{ c.description }}"
                                    data-action="{% url "excursions.views.category_save" %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></button>
                        </div>
                        <button class="btn btn-danger pull-right"
                                data-toggle="modal"
                                data-target="#modal-category-remove"
                                data-id="{{ c.pk }}"
                                data-title="{{ c.title }}"
                                data-action="{% url "excursions.views.category_remove" c.pk %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <div class="e-class-container" data-toggle="modal" data-target="#modal-category-edit"
                 data-action="{% url "excursions.views.category_save" %}">
                <div class="e-class alert-info">
                    <div class="e-class-description">
                        <h1 class="glyphicon glyphicon-plus"></h1>
                    </div>
                </div>
            </div>
        {% endif %}
        <div style="clear:both"></div>
    </div>

    {% if user.is_authenticated %}
        {% include "excursions/modal-category.html" %}
    {% endif %}
{% endblock %}

