{% load sekizai_tags static ex_tags custom_settings_tags excursions_tags i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html><!--<![endif]-->
<head lang="ru">
    {% include "_/elements/meta.html" %}
    <title>{% if title %}{{ title }}{% else %}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "images/icon.png" %}"/>
    {% include "_/elements/styles.html" %}
    {% include "_/elements/scripts.html" %}
    {% render_block "css" %}
    {% render_block "js" %}
</head>
<body>

{% include "_/elements/language_selector.html" %}

<div class="container" style="position: relative">


    <div class="container-content">

        <div class="header">
            <nav class="navbar menu">
                {% menu %}
            </nav>
        </div>


        <div id="content">
            {% block content %}
            {% endblock content %}
            <div style="clear:both;"></div>
            <div id="TA_cdswritereviewlg659" class="TA_cdswritereviewlg"><ul id="UR87juS68m6n" class="TA_links 1gk4opY4jj"><li id="25jNtt" class="N1kgacDOpYN6"><a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=659&amp;locationId=12316080&amp;lang=ru&amp;lang=ru&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
        </div>
    </div>

    <div id="footer">

        <div class="logo-info" style="margin: 0 auto">
            <table style="width:100%;table-layout: fixed">
                <tr>
                    <td style="width:50%;text-align: center;">
                        <span style="display: inline-block;">
                            {% autoescape off %}
                            {% custom_setting 'copyright' %}
                            {% endautoescape %}
                        </span>
                    </td>
                    <td style="width:50%;text-align: center;">
                        {% autoescape off %}
                        {% trans "тел." %}: {% custom_setting 'phone' %}<br>
                        email: <a href="mailto:{% custom_setting 'email' %}">{% custom_setting 'email' %}</a>
                        {% endautoescape %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% include "_/elements/appointment.html" %}
{% render_block "footerjs" %}

{% include "_/elements/login-form.html" %}


<!--[if lt IE 9]>
      <script type='text/javascript' src="{% static "bower/html5shiv/dist/html5shiv.min.js" %}"></script>
      <script type='text/javascript' src="{% static "bower/respond/dest/respond.min.js" %}"></script>
<![endif]-->

{% if not DEBUG and not DONT_USE_METRICS %}
    {% include "_/elements/google-analytics.html" %}
    {% include "_/elements/yandex-metrica.html" %}
{% else %}
    <!-- IN DEBUG VERSION yandex-metrica is not accessible -->
{% endif %}

<style>
    #CDSWIDWRL {
        max-width: 100%;
        width: 100%;
    }

    #CDSWIDWRL .widWRLReview textarea {
        max-width: 100% !important;
        width: 100% !important;
    }
</style>

</body>
</html>