{% load cms_tags sekizai_tags menu_tags static ex_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}{% page_attribute "page_title" %}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "images/icon.png" %}"/>
    {% include "_/elements/styles.html" %}
    {% include "_/elements/scripts.html" %}

    {% render_block "css" %}
    {% render_block "js" %}

</head>
<body>
<div class="container">
    <div class="header">
        <nav class="navbar menu">
            <ul class="nav nav-pills pull-left" style="padding-top: 1em">
                {% show_menu 0 100 100 100 %}
            </ul>
        </nav>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
        <div style="clear:both;"></div>
    </div>

</div>

<div id="footer">
    <div class="col-md-4">
        email: {{ "irgid@bk.ru"|obfuscate_mailto }}<br>
        тел.: 8-914-895-66-44, 8-914-937-25-98<br>
    </div>
    <div class="col-md-4  hidden-sm hidden-xs">
        <a href="/">
            <img src="{% static "images/icon.png" %}" style="height: 3em">
            Иргид</a>
        | 2012–{% now "Y" %}
    </div>
    <div class="col-md-4  hidden-sm hidden-xs">{% if user.is_authenticated %}
        Привет, <b>{{ request.user }}</b>
        {% if user.is_superuser %}
            | <a href="/admin">админка</a>
        {% endif %}
    {% endif %}</div>
</div>

{% render_block "footerjs" %}
{% cms_toolbar %}

{% include "_/elements/login-form.html" %}
</body>
</html>