{% load sekizai_tags static ex_tags custom_settings_tags excursions_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html><!--<![endif]-->
<head lang="ru">
    {% include "_/elements/meta.html" %}
    <title>{% if title %}{{ title }}{% else %}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "images/icon.png" %}"/>
    {% include "_/elements/styles.html" %}
    {% include "_/elements/scripts.html" %}
    {% render_block "css" %}
    {% render_block "js" %}
</head>
<body>

<div class="container">
    <div class="container-content">
        <div class="header">
            <nav class="navbar menu">
                {% menu %}
                {% include "_/elements/weather-snippet.html" %}
                {% if user.is_authenticated %}
                    <div class="pull-right hidden-sm hidden-xs" style="padding-top: 0.5em">
                        привет, <b>{{ request.user }}</b>
                        {% if user.is_superuser %}
                            | <a href="/admin">админка</a>
                            | <a href="/admin/request/request/overview/">статистика</a>
                        {% endif %}
                    </div>
                {% endif %}
            </nav>
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
            <div style="clear:both;"></div>
        </div>

    </div>
    <div id="footer">
        <div class="logo-info" style="margin: 0 auto">
            <table style="width:100%;table-layout: fixed">
                <tr>
                    <td style="width:33%;">
                        тел.: {% custom_setting 'phone' %}<br>
                        email: <a href="mailto:{% custom_setting 'email' %}">{% custom_setting 'email' %}</a>
                    </td>
                    <td style="width:34%;text-align: center;">
                        <span style="display: inline-block;">
                            {% custom_setting 'copyright' %}
                        </span>
                    </td>
                    <td style="width:33%;text-align: right">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% render_block "footerjs" %}

{% include "_/elements/login-form.html" %}


<!--[if lt IE 9]>
      <script type='text/javascript' src="{% static "bower/html5shiv/dist/html5shiv.min.js" %}"></script>
      <script type='text/javascript' src="{% static "bower/respond/dest/respond.min.js" %}"></script>
<![endif]-->

{% if not DEBUG and not DONT_USE_METRICS %}
    {% include "_/elements/google-analytics.html" %}
    {% include "_/elements/yandex-metrica.html" %}
{% else %}
    <!-- IN DEBUG VERSION yandex-metrica is not accessible -->
{% endif %}

</body>
</html>