{% extends "excursions/base.html" %}
{% load static sekizai_tags excursions_tags %}
{% block ex_content %}
    {% now "Y" as current_year %}

    <div class="clearfix"></div>
    <div class="calendar" style="width: auto; float: left;margin: 0px 0.5em; ">
        <div class="col-md-12" style="padding: 1em 0em">
            {#            {% if user.is_authenticated %}#}
                <form action="" class="form-inline pull-left">
                    <select name="year" id="" class="form-control">
                        {% for year in view.actual_years %}
                            <option value="{{ year }}"
                                    {% if year == view.selected_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                    <select name="month" id="" class="form-control" onchange="this.form.submit()">
                        {% for month in view.months %}
                            <option value="{{ month.0 }}" {% if month.0 == view.selected_month %}selected{% endif %}>
                                {{ month.1 }}
                            </option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </form>
{#                {% else %}#}
{#                <h1 style="margin: 0;font-size: 2.3em;text-align: center">{{ current_year }} | {{ view.month.verbose }}</h1>#}
{#                {% endif %}#}
        </div>
        <table class="" style="table-layout: fixed">
            {% for week in view.calendar %}
                <tr style="width: 100%;padding: 0">
                    {% for day_item in week %}
                        {% with d=day_item.date item=day_item.item %}
                            <td style="width: 20%;">
                                {% if d.month == view.month.number %}
                                    <div id="calendar-day-{{ d.day }}"
                                         data-day="{{ d.day }}"
                                         class="calendar-day week-day-{{ d.weekday }}{% if day_item.current %} current{% endif %}
                                                {% if d < view.today.date %} old{% endif %}
                                                {% if not item.comment %} blank{% endif %}">
                                        {{ d.day }}
                                    </div>
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% if user.is_authenticated %}
            <hr style="margin: 1em 0">
            <div>
                <button id="save-calendar-button" class="btn btn-default" data-url="{% url 'calendar_update' %}">
                    Сохранить
                </button>
            </div>
        {% endif %}
    </div>
    <div class="days-header">
        <h1 style="margin: 0;font-size: 2.3em;text-align: center">{{ current_year }} | {{ view.month.verbose }}</h1>
    </div>
    <div class="days">
        {% if view.days %}
            <div id="topToolbar" style="padding-left: 1em;"></div>
            <div class="days-content" style="">
                {% for day_item in view.days %}
                    {% with date=day_item.date item=day_item.item %}
                        {% if date.month == view.month.number %}
                            {% include "excursions/calendar/days.html" %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
            <div class="bottom"></div>
            <div id="bottomToolbar" style="padding-left: 1em"></div>
        {% else %}
            <h1 style="text-align: center; padding-top: 4em;">На этот месяц пока ничего не запланированно</h1>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <script src="/static/bower/ckeditor/ckeditor.js"></script>
        <script src="/static/bower/lodash/lodash.min.js"></script>
        <script src="/static/bower/backbone/backbone-min.js"></script>
        <script src="/static/js/calendar/interface.js"></script>
        <script>
            new CalendarInterface({
                el: document
            });
        </script>
        <style>
            .calendar td > div.blank {
                pointer-events: auto;
            }
        </style>
    {% endif %}
    <script>
        var container = $(".days-content");
        $(".calendar-day").click(function () {
            var day = $(this).data('day');
            var element = $('#day-info-' + day);
            InterfaceAlerts.scrollTo(container, element);
        });
        {% if view.today.month == view.month.number %}
            InterfaceAlerts.scrollTo(container, $('#day-info-{{ view.today.day }}'));
        {% endif %}
    </script>
{% endblock %}

