<div class="modal fade" id="modal-appointment">
    <div class="modal-dialog">
        <form id="appointment-form" class="form" data-action="{% url 'appointment_create' %}"
              data-toggle="validator">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Оставить заявку</h4>
                </div>
                <div class="modal-body">
                    Заполните эту форму, чтобы связаться с нами и получить ответы на Ваши вопросы.
                    Ваш запрос будет направлен оператору, и мы постараемся в кратчайшие сроки ответить Вам. <p>
                    <div class="form-group has-feedback">
                        <label>ФИО</label>
                        <div class="input-group" style="width: 100%">
                            <input class="form-control" name="full_name" type="text"
                                   data-error="это поле необходимо заполнить"
                                   required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Номер телефона</label>
                        <div class="input-group" style="width: 100%">
                            <input class="form-control"  name="phone" type="text" data-brother="email"
                                   data-brother-error="необходимо указать хотя бы номер контактного телефона">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label>Адрес электронной почты</label>
                        <div class="input-group" style="width: 100%">
                            <input class="form-control" name="email" type="email" data-brother="phone"
                                   data-error="укажите корректный адрес электронной почты"
                                   data-brother-error="необходимо указать хотя бы адрес электронной почты">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="comment">Комментарий</label>
                        <textarea style="max-width: 100%" name="comment" cols="30" rows="6"
                                  data-error="это поле необходимо заполнить"
                                  class="form-control" required></textarea>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span class="help-block with-errors"></span>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6" style="text-align: left">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                    <div class="col-md-6" style="text-align: left">
                        <small><small>нажимая на кнопку отправить вы соглашаетесь с
                            <a target="_blank" href="{% url "confedential" %}" style="text-decoration: underline">правилами обработки данных</a>
                        </small></small>
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-alert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Сообщение</h4>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $("#appointment-form").validator({
        custom: {
            brother: function ($el) {
                var brother = $el.data('brother');
                var form = $el[0].form;
                brother = form[brother];

                return $el.val() || brother.value;
            }
        },
        delay: 100,
        errors: {
            brother: 'необходимо указать хотя бы одно из полей',
        }
    }).on('submit', function (e) {
        var form = this;
        if (!e.isDefaultPrevented()) {
            var data = $(form).serialize();
            waitingDialog.show("<h3 style='text-align:center'>Обрабатываю заявку<br>подождите немного...</h3>");
            $.post($(this).data('action'), data).done(function (r) {
            }).always(function (r) {
                waitingDialog.hide();

                var cls = r.success ? 'success' : 'warning';
                var el = $('<div class="alert alert-' + cls + '" style="margin-bottom:0;">' + r.message + '</div>');

                $("#modal-alert").find('.modal-body').html(el);
                $("#modal-alert").modal('show');
                if (r.success) {
                    $("#modal-appointment").modal('hide');
                }
            });
        }
        return false;
    });
</script>