<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='yandex-verification' content='4e25c5d88bffe3fc'/>
<meta name="google-site-verification" content="ybgVv7eqioyQd1gBu_E8QTvkO3M8i6pSsyF6a_Yf3tY" />
{#<meta content='Иргид' name='apple-mobile-web-app-title'>#}
{#<meta name='description' content='{% if meta.description %}{{ meta.description }}{% else %}{% page_attribute meta_description %}{% endif %}'/>#}