<div class="input-group" style="padding-top: 4px">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
    </span>
    <input id="search-field" class="form-control" type="text" placeholder="">
    <span id="search-response"></span>
</div>

<script>
    $(function () {
        var $field = $("#search-field");
        $field.on("input", function () {
{#            console.log(this.value);#}
            $.get("{% url "excursions.views.ajax.search" %}", {
                'query': this.value
            }).done(function (r) {
                $("#search-response").html(r);
            });
        })
    });
</script>