{% extends "excursions/base.html" %}
{% load static sekizai_tags %}
{% load static thumbnail cms_tags %}
{% block ex_content %}

    {% for e in excursions %}
        <div class="categories-list">
            <div class="gallery-item-element">
                <a href="{% url "excursions:gallery_item" e.id %}" class="e-class-description">
                    <div class="e-class">
                        {% if e.img_preview %}
                            <img class="lazy fadein" data-original="{% thumbnail e.img_preview 0x300 %}">{% endif %}
                        <div>
                            <h3>{{ e.title }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
