@import "constants";

$grid-gap: 8px;

.e-preview {
  margin-left: -$grid-gap;
  margin-right: -$grid-gap;
}

.e-class {
  @include transition(0.2s);

  $height: 240px;
  padding: 16px;
  padding-top: $height/3;

  height: $height;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 1px gray;

  @media (max-width: $width-small) {
    $height: 120px;
    padding-top: $height/4;
    height: $height;
    h3 {
      font-size: 1.4em;
    }

  }

  &:hover {
    box-shadow: 0 0 8px gray;
  }

}

.e-class-menu {
  margin-top: 0.5em;
}

.e-class-container {

  width: 33.3%;
  @media (max-width: $width-medium) {
    width: 50%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }

  float: left;
  //  height: 240px;
  padding: $grid-gap;
  position: relative;

  .e-class-menu {
    position: absolute;
    bottom: 16px;
    right: 24px;
    left: 24px;
  }
}

.e-ex-container {

  width: 24%;
  @media (max-width: $width-medium) {
    width: 50%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }

  float: left;
  position: relative;
}

.e-ex {
  @include transition(0.2s);
  //  margin: $grid-gap;
  padding: 16px;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  box-shadow: 0 0 1px gray;

  &:hover {
    box-shadow: 0 0 8px gray;
  }
}

/* excursions */
.excursions-list {
  //  padding-left: 0.75em;
  padding-bottom: 1em;

  .excursion {
    &:hover {
      box-shadow: 0 0 2px $common_color;
      color: $common_color;
    }
  }

  .excursion-add {

  }
}

#excursion-price-list {
  overflow: scroll;
}

.excursion {
  display: block;
  > a {
    text-decoration: none;
    color: #000000;
  }
  position: relative;
  @include transition(0.2s);
  margin: 0.25em 0 2px;
  &:first-child {

  }

  hr {
    margin: 12px 0;
  }

  img.img-preview {
    max-width: 100%;
    border-radius: 0.25em;
    &[src] {
      border: 1px solid #000000;
    }
  }

  .e-excursion-item-menu {
    position: absolute;
    right: 0.5em;
    top: 0.75em;
  }

  padding: 0.5em 0.75em;
  border-radius: 8px;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  .toggle {
    color: $common_color;
    cursor: pointer;
    border-bottom: dashed 1px;
    &:hover {
      color: black;
    }
  }

  .description {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    @media(max-width: $width-small) {
      display: none;
    }
  }
  h2 {
    margin: 0;
    padding-left: 0;
    @media (max-width: $width-small) {
      font-size: 1.2em;
    }
    //    padding-bottom: 4px;
  }
  .price {
    margin-top: 8px;
  }

  .price table {
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    border-collapse: separate;
    /*font-size: 1e*/
  }

  .price th, .price td {
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    text-align: center;
  }
}

.e-categories-excursion {
  $color: darken($common_color, 10);
  .e-category {
    //    text-align: center;

    &.active {
      position: relative;
      //      &:after {
      //        content: ' ';
      //        position: absolute;
      //        left: -0px;
      //        top: 101%;
      //        border-width: 4px 4px;
      //        border-style: solid;
      //
      //        border-color: $color $color transparent transparent;
      //      }
      &.without-excursions {
        &:after {
          content: '';
          border: none;
        }
      }
    }
  }

}

.excursion-or-category-content {
  margin-left: 210px;
  @media(max-width: $width-medium) {
    margin-left: 0;
  }
}

/* end excursions */

.excursion-preview-container {
  text-align: center;
//  background-color: #c0c0c0;
  margin-right: 310px;
  height: 400px;
  white-space: nowrap;
  img {
    max-width: 100%;
    max-height: 400px;
    border: 1px solid #000000;
    vertical-align: middle;
  }
  .preview-container-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.excursion-gallery {
  &.guest {
    width: 300px;
    height: 400px;
    float: right;
    .excursion-gallery-item {
      width: 33%;
    }
  }
  padding-bottom: 1em;
//  margin: 0 0.5em;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  input[type=file] {
    display: none;
  }
}

@media (max-width: $width-xbig) {
  .excursion-preview-container {
    margin-right: 100px;
  }
  .excursion-gallery {
    &.guest {
      width: 100px;
      .excursion-gallery-item {
        width: 100%;
      }
    }
  }
}

.excursion-gallery-item {
  &.active {
    > div {
      box-shadow: 0 0 0 4px skyblue;
      &:hover {
        box-shadow: 0 0 0 4px skyblue;
      }
    }
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  $height: 90px;
  width: 90px;
  cursor: pointer;

  height: $height;
  //  border: 1px solid #000000;
  float: left;
  padding: 0.5em;
  overflow: hidden;
  > div {
    box-shadow: 0 0 2px gray;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 4px gray;
    }
    @include transition(0.3s);
  }
  img, #add-image {
    height: 100%;
  }
  #add-image {
    text-align: center;
    background-color: lightskyblue;
    color: #002b36;
    font-size: $height/4;
    font-weight: bold;
    cursor: pointer;
    padding-top: $height/4;
  }

  .remove {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.list-group-menu {
  width: 200px;
  float: left;
  @media(max-width: $width-medium) {
    width: 100%;
    float: inherit;
    display: none;
  }

  .excursions-menu {
    padding-left: 8px;
    background-image: url("images/menu-angle.png");
    background-position-x: -8px;
    background-repeat: no-repeat;
    .excursions-menu-container {
      max-height: 300px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;

      .list-group-item-excursion {
        @include transition(0.2s);

        background-color: #fff;
        border: 1px solid #ddd;
        border-top: none;
        display: block;
        padding: 10px 15px;
        position: relative;

        &.first {
          position: relative;
          overflow: hidden;
        }
        &:last-child {
          border-bottom: none;
        }
        &.current {
          background-color: lighten(#337ab7, 15);
          border-color: lighten(#337ab7, 15);
          color: white;
        }
      }

    }
    &:last-child {
      .excursions-menu-container {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 0 8px;
      }
      .list-group-item-excursion:last-child {
      }
    }
  }

  .list-group-menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 10px 15px;
    position: relative;
    border-bottom: none;
    &:first-child {
      border-radius: 4px 0 0 0;
    }
    &:last-child {
      border-bottom: 1px solid #ddd;
      border-radius: 0 0 0 4px;
    }
    &.active {
      background-color: #337ab7;
      border-color: #337ab7;
      color: white;
    }
  }
}


