@import "constants";

$grid-gap: 8px;

.e-preview {
  margin-left: -$grid-gap;
  margin-right: -$grid-gap;
}

.e-class {
  @include transition(0.2s);
  padding: 16px;
  height: 240px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  //  vertical-align: middle;

  padding-top: 80px;

  box-shadow: 0 0 1px gray;

  &:hover {
    box-shadow: 0 0 8px gray;
  }

  //  h3 {
  //    position: absolute;
  //    top: 90px;
  //  }
}

.e-class-menu {
  margin-top: 0.5em;
}

.e-class-container {

  width: 33.3%;
  @media (max-width: $width-medium) {
    width: 50%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }

  float: left;
  //  height: 240px;
  padding: $grid-gap;
  position: relative;

  .e-class-menu {
    position: absolute;
    bottom: 16px;
    right: 24px;
    left: 24px;
  }
}

.e-ex-container {

  width: 24%;
  @media (max-width: $width-medium) {
    width: 50%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }

  float: left;
  position: relative;
}

.e-ex {
  @include transition(0.2s);
  //  margin: $grid-gap;
  padding: 16px;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  box-shadow: 0 0 1px gray;

  &:hover {
    box-shadow: 0 0 8px gray;
  }
}

/* excursions */
.excursions-list {
  padding-left: 0.75em;
  padding-bottom: 1em;

  .excursion {
    &:hover {
      box-shadow: 0 0 2px $common_color;
      color: $common_color;
    }
  }

  .excursion-add {

  }
}

.excursion {
  display: block;
  > a {
    text-decoration: none;
    color: #000000;
  }
  position: relative;
  @include transition(0.2s);
  margin: 0.25em 0 2px;
  &:first-child {

  }

  img.img-preview {
    max-width: 100%;
    border-radius: 0.25em;
    &[src] {
      border: 1px solid #000000;
    }
  }

  .e-excursion-item-menu {
    position: absolute;
    right: 0.5em;
    top: 0.75em;
  }

  padding: 0.5em 0.75em;
  border-radius: 8px;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  .toggle {
    color: $common_color;
    cursor: pointer;
    border-bottom: dashed 1px;
    &:hover {
      color: black;
    }
  }

  .description {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  }
  h2 {
    margin: 0;
    padding-left: 0;
    //    padding-bottom: 4px;
  }
  .price {
    margin-top: 8px;
  }

  .price table {
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    border-collapse: separate;
    /*font-size: 1e*/
  }

  .price th, .price td {
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    text-align: center;
  }
}

.e-categories-excursion {
  $color: darken($common_color, 10);
  .e-category {
    //    text-align: center;

    &.active {

      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        left: -0px;
        top: 101%;
        border-width: 4px 4px;
        border-style: solid;

        border-color: $color $color transparent transparent;
      }
      &.without-excursions {
        &:after {
          content: '';
          border: none;
        }
      }
    }
  }

  .list-group-item-excursion {
    @include transition(0.2s);
    margin-left: 8px;
    &.first {
      position: relative;
      overflow: hidden;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        margin-top: -1px;
        content: ' ';
        box-shadow: 0 0 3px 2px black;
      }
    }
    &.current {
      margin-left: 4px;
      //      border: solid 4px white;
      //      border-right: none;
      //      border-radius: 8px 0 0 8px;
    }
  }
}

/* end excursions */
.excursion-gallery {
  padding: 1em 0;
  margin: -0.5em;
  widows: 100%;
  overflow: hidden;
}

.excursion-preview-container {
  text-align: center;
  img {
    max-width: 100%;
    border: 4px solid #000000;
  }
}

.excursion-gallery-item {
  width: 20%;
  @media (max-width: $width-big) {
    width: 25%;
  }
  @media (max-width: $width-medium) {
    width: 33%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }
  height: 100px;
  //  border: 1px solid #000000;
  float: left;
  padding: 0.5em;
  img {
    background-color: #808080;
    width: 100%;
    height: 100%;
  }
}