{% load sekizai_tags static %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "css/textpage.css" %}"/>
{% endaddtoblock %}

<div class="textpage-content">
    {% if user.is_authenticated %}

        {% addtoblock "js" %}
            <script src="{% static "bower/ckeditor/ckeditor.js" %}"></script>
        {% endaddtoblock %}
        <div contenteditable="true" id="page-content">{{ instance.text|safe }}</div>
        <form id="images-form">
            <input name="images" type="file" style="display: none;">
        </form>
        <script>
            var editor = CKEDITOR.inline("page-content", {
                enterMode: CKEDITOR.ENTER_BR,
                extraPlugins: 'sourcedialog,showblocks,justify,colordialog,colorbutton,liststyle'
            });

            editor.addCommand("save", { // create named command
                exec: function (edt) {
                    $.post("{% url "textpage.views.save" %}", {
                        text: edt.getData(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: {{ instance.id }}
                    }).done(function () {
                        InterfaceAlerts.showSuccess();
                    }).fail(function () {
                        InterfaceAlerts.showFail();
                    })
                }
            });

            editor.addCommand("add_image", { // create named command
                exec: function (edt) {
                    var input = $('<input type="file" style="display: none;">');
                    input.on("change", function () {
                        var el = edt.document.createElement("img");
                        input2base64(input[0], el.$);
                        edt.insertElement(el);
                    });
                    input.click();
                }
            });

            editor.ui.addButton('SaveButton', { // add new button and bind our command
                label: "Save",
                command: 'save',
                toolbar: 'clipboard',
                icon: '{% static "bower/ckeditor/plugins/save/icons/hidpi/save.png" %}'
            });

            editor.ui.addButton('AddImageButton', { // add new button and bind our command
                label: "Image",
                command: 'add_image',
                toolbar: 'insert',
                icon: '{% static "bower/ckeditor/plugins/forms/icons/imagebutton.png" %}'
            });


        </script>
    {% else %}
        {{ instance.text|safe }}
    {% endif %}
</div>