<div class="e-class-menu">
    <div class="btn-group">
        <button type="button" class="btn btn-success"
                data-toggle="modal"
                data-target="#modal-category-edit"
                data-id="{{ c.pk }}"
                data-title="{{ c.title }}"
                data-description="{{ c.description }}"
                data-action="{% url "excursions.views.category_save" %}">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
         <button type="button" class="btn btn-image-toggle"
                 data-bind="click: toggle, css: { 'btn-success': visible, 'btn-default': !visible() }">
            <span class="glyphicon glyphicon-eye-open"
                  data-bind="css: { 'glyphicon-eye-open': visible, 'glyphicon-eye-close': !visible() }"></span>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-image-selector" data-bind="click: selectImage" >
            <span class="glyphicon glyphicon-picture"></span>
        </button>
        <!-- ko if: imageUrl-->
        <button type="button" class="btn btn-primary btn-image-remove" data-bind="click: removeImage">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <!-- /ko -->
    </div>
    <button type="button" class="btn btn-danger pull-right"
            data-toggle="modal"
            data-target="#modal-category-remove"
            data-id="{{ c.pk }}"
            data-title="{{ c.title }}"
            data-action="{% url "excursions.views.category_remove" c.pk %}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <input type="file" name="category_image_input" style="display: none">
</div>