<div class="modal fade" id="modal-category-edit">
    <div class="modal-dialog">
        <form class="form" method="POST" action="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Редактирование категории</h4>
                </div>
                {% csrf_token %}
                <div class="modal-body">

                    <label>Название категории
                        <input class="form-control" name="title" value=""/>
                    </label>
                    <textarea class="form-control" name="description"></textarea>
                    <input hidden="" name="id" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal-category-remove">
    <div class="modal-dialog">
        <form class="form" method="POST" action="">
            <div class="modal-content">
                {% csrf_token %}
                <div class="modal-body">
                    <h2>Удалить категорию <span class="placeholder-title"></span> ?</h2>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#modal-category-edit").on('show.bs.modal', function(e) {
        var title = e.relatedTarget.dataset.title;
        var description = e.relatedTarget.dataset.description;
        var id = e.relatedTarget.dataset.id;
        var action = e.relatedTarget.dataset.action;
        $(e.currentTarget).find("input[name=title]").val(title);
        $(e.currentTarget).find("input[name=description]").val(description);
        $(e.currentTarget).find("input[name=id]").val(id);
        $(e.currentTarget).find("form")[0].action = action;
    });

    $("#modal-category-remove").on('show.bs.modal', function(e) {
        var id = e.relatedTarget.dataset.id;
        var title = e.relatedTarget.dataset.title;
        var action = e.relatedTarget.dataset.action;
        $(e.currentTarget).find("input[name=placeholder-title]").val(title);
        $(e.currentTarget).find("form")[0].action = action;
    });
</script>