{% extends '_/base.html' %}

{% block content %}
    {% for setting in object_list|dictsort:'title' %}
        {% if setting.key != 'about' and setting.key != 'faq' %}
        <form action="{% url 'settings-update' setting.id %}" class="form" method="post">
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">{{ setting.title }}</div>
                <input class="form-control" type="text" name="value" value="{{ setting.value }}">
                {% csrf_token %}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" type="button"><span class="glyphicon glyphicon-save"></span></button>
                  </span>
            </div>
            </div>
{#            <button class="btn btn-success"><span class="glyphicon glyphicon-save"></span></button>#}
        </form>
        {% endif %}
    {% endfor %}
{% endblock %}