{% load thumbnail static excursions_tags %}
{% if current_excursion.category %}
<div>
    <a class="hidden-lg hidden-md hidden-sm" href="{% url "excursions:category" pk=current_excursion.category.pk %}">
        <button class="btn btn-sm btn-default"
                style="margin-bottom: 5px">{{ current_excursion.category.title }} </button>
    </a>
</div>
{% endif %}

<h2 itemprop="name" id="excursion-title" style="margin-bottom: 0.25em">
    {{ current_excursion.title|default:"..." }}

</h2>
<div style="clear:right"></div>
{% if current_excursion.time_length or current_excursion.min_age %}
    <div style="float:left;">
        {% if e.price_list_rendered.min_price %}
            <span style="margin-right: 0.5em" class="label label-primary" data-toggle="tooltip"
                  data-placement="top" title="цена">
                            от {{ e.price_list_rendered.min_price }}₽
                        </span>
        {% endif %}
        {% if current_excursion.time_length %}
            <span class="label label-success"
                  style="display: inline-block" data-toggle="tooltip" data-placement="top" title="продолжительность экскурсии">({{ current_excursion.time_length|time_verbose }})</span>
        {% endif %}
        {% if current_excursion.min_age %}
            <span class="label label-danger" style="display: inline-block" data-toggle="tooltip" data-placement="top" title="рекомендуемый возраст">
                {{ current_excursion.min_age }}+
            </span>
        {% endif %}
    </div>
    <div style="float: right">
        {% include "excursions/excursion/share-buttons.html" %}
    </div>
{% else %}
    {% include "excursions/excursion/share-buttons.html" %}
{% endif %}
<div style="clear:right"></div>
<hr>

<!-- ГАЛЕРЕЯ -->

{% if gallery %}
    <div class="excursion-gallery guest">
        {% if current_excursion.img_preview %}
            {% thumbnail current_excursion.img_preview 0x150 as thumb %}
            {% thumbnail current_excursion.img_preview 1024x400 as thumb_big %}
            <div class="excursion-gallery-item active"
                 data-thumb-src="{{ thumb_big.url }}" data-src="{{ current_excursion.img_preview.url }}">
                <div>
                    <img itemprop="image" src="{{ thumb.url }}"/>
                </div>
            </div>
        {% endif %}
        {% for img in gallery %}
            {% thumbnail img.image 0x150 as thumb %}
            {% thumbnail img.image 1024x400 as thumb_big %}
            <div class="excursion-gallery-item"
                 data-thumb-src="{{ thumb_big.url }}" data-src="{{ img.image.url }}">
                <div>
                    <img itemprop="image" src="{{ thumb.url }}"/>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- КОНТЕЙНЕР С ИЗОБРАЖЕНИЕМ -->
{% if current_excursion.img_preview %}
    <div class="excursion-preview-container{% if not gallery %} without-items{% endif %}">
        <a href="{{ current_excursion.img_preview.url }}">
            {% thumbnail current_excursion.img_preview 1024x400 as thumb %}
            <img itemprop="image" class="lazy fadein main-image" data-original="{{ thumb.url }}"/>

        </a>
    </div>
{% endif %}
<!-- конец КОНТЕЙНЕР С ИЗОБРАЖЕНИЕМ -->
<div style="clear:right"></div>

<hr>
<!-- конец ГАЛЕРЕЯ -->

<!-- ОПИСАНИЕ -->
<div id="excursion-description">
    <span itemprop="articleBody">{{ current_excursion.description|lazy_load|safe|default:"" }}</span>
</div>
<!-- конец ОПИСАНИЕ -->

{% if current_excursion.yandex_map_script %}
    <hr>
    <!-- КАРТА -->
    {% with current_excursion.yandex_map_script as map_id %}
        {% include "excursions/excursion/map-element.html" %}
    {% endwith %}
    <!-- конец КАРТЫ -->
{% endif %}

<!-- ЦЕНЫ -->
{% include "excursions/excursion/price.html" %}
<!-- конец ЦЕНЫ -->
<hr>
<div style="float: right;">
    {% include "excursions/excursion/share-buttons.html" %}
</div>
<script>
    // рассчет цены
    new ExcursionPriceComputer({{ price_list }})
</script>

