<div class="e-categories-excursion list-group-menu">
    {% for c in categories %}
        <a class="e-category list-group-menu-item
        {% if c.pk == current_category.pk %} active{% endif %}
        {% if excursions|length == 1 and excursions.0.pk == current_excursion.pk %} without-excursions{% endif %}"
           href="{% url "excursions:category" c.pk %}">
            {{ c.title }}
        </a>
        {% if c.pk == current_category.pk %}
            <div class="excursions-menu">
                <div class="excursions-menu-container">
                    {% for e in excursions %}
                        {% if e.pk != current_excursion.pk %}
                            <a href="{% url "excursions:item" e.pk %}"
                               class="list-group-item-excursion">
                                {#                       {% if forloop. %} first{% endif %}">#}
                                {{ e.title }}
                            </a>
                        {% else %}
                            <a class="list-group-item-excursion current">{{ e.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>


<script>
    var exMenu = $(".excursions-menu-container");
    exMenu.scrollTop(0);
    var curItem = exMenu.find("a.current");
    exMenu.scrollTop(curItem.position().top - exMenu.position().top + 1);
</script>