
{% include "excursions/category/category-excursion-item-info.html" %}
{% if user.is_authenticated %}
    <div class="e-excursion-item-menu">
        <div class="form-inline">
            <button class="btn{% if e.published %} btn-success{% else %} btn-default{% endif %} publish-button"
                    data-title="{{ e.title }}"
                    data-category_id="{{ e.category_id }}"
                    data-id="{{ e.id }}"
                    data-published="{{ e.published }}"
                    data-action="{% url "excursions:ajax_save" %}">
                <span class="glyphicon{% if e.published %} glyphicon-eye-open{% else %} glyphicon-eye-close{% endif %}"></span>
            </button>
            <button class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-excursion-remove"
                    data-title="{{ e.title }}"
                    data-action="{% url "excursions:remove" e.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
{% endif %}

