{% load thumbnail excursions_tags %}
<a href="{% url "excursions:item" e.pk %}">
    <div>
        <table style="width: 100%;table-layout: fixed">
            <tr>
                <td style="padding-right: 1em">
                    <h2>{{ e.title }}

                    </h2>
                    <small>
                        {% if e.time_length %}
                            <span class="label label-success" data-toggle="tooltip" data-placement="top" title="продолжительность экскурсии">({{ e.time_length|time_verbose }})</span>
                        {% endif %}
                        {% if e.min_age %}
                            <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="рекомендуемый возраст">
                                {{ e.min_age }}+
                        </span>
                        {% endif %}
                    </small>
                    <div class="description">
                        {{ e.short_description|safe }}
                    </div>
                    <a href="{% url "excursions:item" e.pk %}">подробнее...</a>
                </td>
                {% if e.img_preview %}
                    <td style="width: 150px;text-align: right;">
                        {% thumbnail e.img_preview 150x150 as thumb %}
                        <img class="lazy img-preview" data-original="{{ thumb.url }}"/>
                        <noscript><img src="{{ thumb.url }}"/></noscript>
                    </td>
                {% endif %}

            </tr>
        </table>
    </div>
</a>