@import "constants";

body {
//  background-color: $background-color;
  background: url("images/eight_horns.png");
  padding: 1em;

  @include transition(0.3s);

  @media (max-width: $width-medium) {
    padding: 0;
  }

  font-family: serif;
}

.container {
  background-color: white;
  border-radius: 16px;
//  border: 1px solid grey;
  box-shadow: 0 0 4px silver;
  padding: 0 1.5em;
  padding-bottom: 1em;
  margin-bottom: 80px;

  @media (max-width: $width-medium) {
   border-radius: 0;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #f5f5f5;
  text-align: center;
  @include transition(0.3s);
//  font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
  background-color: white;
}