@import "constants";

.menu {
  background-color: white;
  z-index: 100;
  padding-top: 10px;
  //  overflow: scroll;
  white-space: nowrap;
  max-height: 60px;

  .menu-current {
    display: block;
    float: left;
    padding: 15px;
    padding-left: 0;
  }

  &.navbar {
    margin-bottom: 0.5em;
    border: none;
  }

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  .navbar-nav {
    li {
      a {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 1em;
        margin-right: 8px;
      }
      &:hover a {
        background-color: lighten($common_color, 70) !important;
        color: black !important;
      }

      &.selected {
        a {
          background-color: $common_color;
          color: #ffffff;
        }
        &:hover a {
          background-color: lighten($common_color, 10) !important;
          color: white !important;
        }
      }
    }
    .appointment-button {
      $color: #9acd32;
      background-color: $color !important;
      //border-color: darken($color, 10);
      color: white !important;
      &:hover, &:active {
        color: white !important;
        background-color: $color !important;
        box-shadow: 0 0 10px #dee70a inset;
      }
    }
  }

  @media (max-width: $width-medium) {
    .nav li {
      display: block;
    }
    padding-top: 0;
    &.navbar {
      margin-bottom: 0;
    }
    .navbar {
      margin-bottom: 0;
    }
    .navbar-nav {
      li {
        a {
          border-radius: 0;
        }
      }
    }
    .navbar-default {
      background-color: #F8F8F8;
      border-color: #E7E7E7;
      position: fixed;
      width: 100%;
    }
  }

  .navbar-brand {
    padding: 0.25em;
    margin-right: 0;
  }

  //  .logo-info {
  //    float: right;
  //  }
  //
  //  .logo-info, .nav {
  //    display: inline-block !important;
  //  }
  //  .nav {
  //    overflow: scroll;
  //    overflow-x: auto;
  //    overflow-y: hidden;
  //    white-space: nowrap;
  //    > li {
  //      float: none;
  //      display: inline-block;
  //    }

  //  }
  //
  //  @media (max-width: $width-small) {
  //    .logo-info {
  //      font-size: small;
  //    }
  //  }
  //
  //  @media (max-width: $width-medium) {
  //    position: fixed;
  //    width: 100%;
  //    padding-top: 10px;
  //    padding-left: 10px;
  //    padding-right: 10px;
  //  }
}