@import "constants";

$common_color: silver;

#enter-button-area {
  @include transition(0.3s);

  position: fixed;
  right: -2em;
  top: 0;
  padding: 40px;
  padding-right: 0;

  &:hover {
    right: 0;
    #enter-button {
      background-color: rgba(white, 0.55);
      color: $common_color;
    }
  }
}

#enter-button {
  @media (max-width: 800px) {
    display: none;
  }
  @include transition(0.3s);
  padding: 1em;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  color: white;
}



.btn-en {
  background: url("./images/flag_en.png");
  color: black;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
.btn-ru {
  background: url("./images/flag_ru.png");
}

.btn-en, .btn-ru {
  -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);

  &.btn-default {
    @include transition(0.2s);
    &:hover {
      -webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
      filter: grayscale(25%);
    }
  }

  &.btn-primary {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
  }
}

.menu-language-selector {
  @media (max-width: 768px) {
    display: block;
  }
  display: none;
}

#language-selector {
  position: fixed;
  left: -1em;
  top: 1em;
  width: 60px;
  .btn {
    &.btn-default {
      margin-left: -0.75em;
      &:hover {
        margin-left: 0.5em;
      }
    }
    height: 30px;
    float: left;
    padding-left: 1.75em;
    border-radius: 0 1em 1em 0;
  }
}