@import "constants";
@import "gallery";
@import "gallery-plugin";

$grid-gap: 8px;

.e-preview {
  margin-left: -$grid-gap;
  margin-right: -$grid-gap;
}

.e-class {
  @include transition(0.2s);

  $height: 240px;
  overflow: hidden;
  border: 1px solid $common_color;
  position: relative;

  &.add-button, &.save-button {
    > div {
      background-color: unset !important;
      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }

  &:hover {
    > div {
      background-color: rgba(white, 1);
    }
  }

  > div {
    padding: 16px;
    text-align: center;
    //    bottom: ;
    //    margin-top: $height/2.7;
    border-bottom: 1px solid $common_color;

    position: absolute;
    width: 100%;
    text-shadow: 0 0 1px white;
    background-color: rgba(white, 0.85);
    @include transition(0.3s);
  }

  h3 {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
  }

  img {
    height: 100%;
    position: absolute;
  }

  height: $height;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 1px $common_color;
  color: $common_color;

  @media (max-width: $width-small) {
    $height: 120px;
    > div {
      margin-top: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
    height: $height;
    h3 {
      font-size: 1.4em;
    }

  }

  &:hover {
    box-shadow: 0 0 8px $common_color;
  }

}

.e-class-menu {
  margin-top: 0.5em;
}

.category-element {

  width: 33.3%;
  @media (max-width: $width-medium) {
    width: 50%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }

  float: left;
  //  height: 240px;
  padding: $grid-gap;
  position: relative;

  .e-class-menu {
    position: absolute;
    bottom: 16px;
    right: 24px;
    left: 24px;
  }
}

.e-ex-container {

  width: 24%;
  @media (max-width: $width-medium) {
    width: 50%;
  }
  @media (max-width: $width-small) {
    width: 100%;
  }

  float: left;
  position: relative;
}

.e-ex {
  @include transition(0.2s);
  padding: 16px;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  box-shadow: 0 0 1px gray;

  &:hover {
    box-shadow: 0 0 8px gray;
  }
}

/* excursions */
.excursions-list {
  padding-bottom: 1em;
  .excursion {
    &:hover {
      box-shadow: 0 0 2px $common_color;
      color: $common_color;
    }
  }
  .excursion-add {
  }
}

#excursion-price-list {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 0.9em;
  table {
    table-layout: fixed;
    td, th {
      border: 1px solid silver;
      text-align: center;
      white-space: nowrap;
      padding: 0.5em;
      vertical-align: middle;
    }
    tbody {
      td {
      }
    }
  }
  //.table-headers {
  //  float: left;
  //  max-height: 200px;
  //  clear: none;
  //}
  //.table-info {
  //  margin-left: 200px;
  //}
}

.excursion {
  display: block;
  min-height: 55px;
  > a {
    text-decoration: none;
    color: #000000;
  }
  position: relative;
  @include transition(0.2s);
  margin: 0.25em 0 2px;
  &:first-child {

  }

  hr {
    margin: 12px 0;
  }

  img.img-preview {
    max-width: 100%;
    border-radius: 0.25em;
    &[src] {
      border: 1px solid #000000;
    }
  }

  .e-excursion-item-menu {
    position: absolute;
    right: 0.5em;
    top: 0.75em;
  }

  padding: 0.5em 0.75em;
  border-radius: 8px;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  .toggle {
    color: $common_color;
    cursor: pointer;
    border-bottom: dashed 1px;
    &:hover {
      color: black;
    }
  }

  .description {
    text-align: justify;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    @media(max-width: $width-small) {
      display: none;
    }
  }
  h2 {
    margin: 0;
    padding-left: 0;
    @media (max-width: $width-small) {
      font-size: 1.2em;
    }
    //    padding-bottom: 4px;
  }
  .price {
    margin-top: 8px;
  }

  .price table {
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    border-collapse: separate;
    /*font-size: 1e*/
  }

  .price th, .price td {
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    text-align: center;
  }
}

.excursion-or-category-content {
  margin-left: 210px;
  @media(max-width: $width-medium) {
    margin-left: 0;
  }
}

/* end excursions */

.list-group-menu {
  width: 200px;
  float: left;
  @media(max-width: $width-medium) {
    width: 100%;
    float: inherit;
    display: none;
  }

  .excursions-menu {
    padding-left: 8px;
    background-image: url("images/menu-angle.png");

    //    background-position-x: -8px;
    background-repeat: no-repeat;
    .excursions-menu-container {
      max-height: 300px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;

      .list-group-item-excursion {
        @include transition(0.2s);
        color: $common_color;
        &:hover {
          text-decoration: none;
          background-color: #eee;
        }

        background-color: #fff;
        border: 1px solid #ddd;
        border-top: none;
        display: block;
        padding: 10px 15px;
        position: relative;

        &.first {
          position: relative;
          overflow: hidden;
        }
        &:last-child {
          border-bottom: none;
        }
        &.current {
          background-color: lighten($common_color, 20);
          border-color: lighten($common_color, 20);
          color: white;
        }
      }

    }
    &:last-child {
      .excursions-menu-container {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 0 8px;
      }
      .list-group-item-excursion:last-child {
      }
    }
  }

  .list-group-menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 10px 15px;
    position: relative;
    border-bottom: none;
    color: $common_color;
    @include transition(0.3s);
    &:hover {
      text-decoration: none;
      background-color: #eee;
    }

    &:first-child {
      border-radius: 4px 0 0 0;
    }
    &:last-child {
      border-bottom: 1px solid #ddd;
      border-radius: 0 0 0 4px;
    }
    &.active {
      background-color: $common_color;
      border-color: $common_color;
      color: white;
    }
  }
}

#excursion-description {
  text-align: justify;
  img {
    margin: 1em auto;
    max-width: 100%;
    max-height: 500px;
    text-align: center;
    display: block;
    border: 1px solid #8f8f8f;
    border-radius: 8px;
    box-shadow: 0 0 4px silver;
  }
}

.excursion-map {
  width: 100%;
  > ymaps {
    height: 500px !important;
    @media (max-width: $width-big) {
      height: 300px !important;
    }
  }
  box-shadow: 0 0 4px silver;
  overflow: hidden;
  border-radius: 4px;
}

#price-calculator {
  .input-group-addon {
    width: 100px;
  }
}

.calendar {
  $fore_color: #00A6C7;
  $bg_color: #EFEFEF;
  td > div {
    width: 3em;
    height: 3em;
    padding: 12px;
    margin: 4px;
    border-radius: 24px;
    background-color: $bg_color;
    text-align: center;
    vertical-align: middle;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    cursor: pointer;

    &.old {
      opacity: 0.35;
    }

    &.blank {
      opacity: 0.25;
      pointer-events: none;
    }

    &:hover {
      //background-color: #f6a800 !important;
      box-shadow: 0 0 3px $fore_color;
    }
    &.current {
      opacity: 1;
      background-color: $fore_color;
      color: white;
    }

    &.week-day-5 {
      background-color: #f6ca8c;
    }
    &.week-day-6 {
      background-color: #f6917f;
    }
  }
}

.days {
  position: relative;
  overflow: hidden;

  .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAAV0lEQVQImQXBERBCAQBAsXcXpmEapmGahmmYhl/DNEzDNA3TMA3TMFlb+IVv+IR3eIVneIR7uIVruIRzOIVjOIQh7MMubMMmrMMqLMMizMMsTMMkjMPoDytVaHr7Aah5AAAAAElFTkSuQmCC');
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAAV0lEQVQImQXBERBCAQBAsXcXpmEapmGahmmYhl/DNEzDNA3TMA3TMFlbGIVxmIRpmIV5WIRlWIV12IRt2IV9GMIhHMMpnMMlXMMt3MMjPMMrvMMnfMPvDz19aHrxzJXQAAAAAElFTkSuQmCC');
  }

  .days-content {
    max-height: 350px;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 1em;

    .day-info {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      //&.old {
      //  display: none;
      //  opacity: 0.1;
      //  &:hover {
      //    opacity: 0.85;
      //  }
      //}

      $colors: ("week-day-0", #95bfc7, black, black) ("week-day-1", #95bfc7, black, black) ("week-day-2", #95bfc7, black, black) ("week-day-3", #95bfc7, black, black) ("week-day-4", #95bfc7, black, black) ("week-day-5", #eea600, #eea600, white) ("week-day-6", #dc0b1b, #dc0b1b, white);

      .title {
        border-radius: 30px 8px 8px 30px;
        color: black;
        padding: 6px 6px 6px 2px;
        margin-right: 8px;
        .day {
          background-color: white;
          padding: 4px 5px 4px 4px;
          border-radius: 16px;
        }
    }

      @each $class, $main_color, $font_color, $week_day_color in $colors {
        .#{$class} {
          color: $week_day_color;
          background-color: $main_color;
          border: 2px solid darken($main_color, 10);
          .day {
            color: darken($font_color, 20);
            border: 1px solid darken($main_color, 10);
          }
        }
        &.current {
          .title {
            .day {
              background-color: #00A6C7;
              color: white;
            }
          }
        }
    }
  }
  }



}