{% load thumbnail %}
<div id="categories-list">
    {% for c in categories %}
        <div class="category-element">
            <a class="e-class-description" href="{% if gallery == c %}{% url "gallery:index" %}
            {% elif travel == c %} {% url "travel:index" %}
            {% else %}{% url "excursions:category" pk=c.pk %}
            {% endif %}">
                <div class="e-class">
                    {% if c.image %}<img src="{% thumbnail c.image 0x300 %}">{% endif %}
                    <div>
                        <h3>{{ c.title }}</h3>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>