{% load static sekizai_tags thumbnail %}
{#<form id="excursion-save-form" method="post" action="{% url "excursions.views.ajax.excursion_save" %}">#}
<div id="excursion-content">
    <form class="excursion-form" action="{% url "excursions.views.ajax.excursion_save" %}">
        <div style="clear:right"></div>

        <div class="" style="">
            <table style="width: 100%;table-layout: fixed">
                <tr>
                    <td style="width:75%;">
                        <!-- НАЗВАНИЕ ЭКСКУРСИИ -->
                        <h2 contenteditable="true" id="excursion-title">{{ current_excursion.title|default:"..." }}</h2>
                        <!-- конец НАЗВАНИЕ ЭКСКУРСИИ -->

                        <!-- КРАТКОЕ ОПИСАНИЕ ЭКСКУРСИИ -->
                        <div id="excursion-short-description" contenteditable="true">
                            {{ current_excursion.short_description|safe|default:"..." }}
                        </div>
                        <!-- конец КРАТКОЕ ОПИСАНИЕ ЭКСКУРСИИ -->
                    </td>
                    <td style="width: 25%;text-align: right">
                        <!-- ГЛАВНАЯ КАРТИНКА ЭКСКУРСИИ -->
                        <div>
                            {% if  current_excursion.img_preview %}
                                {% thumbnail current_excursion.img_preview 150x150 as thumb %}
                            {% endif %}
                            <img name="image"
                                 src="{{ thumb.url }}"
                                 style="max-width: 150px;border-radius: 0.25em;cursor: pointer"/>
                            <input type="file" name="small_image" class="image-selector" style="display: none;">
                        </div>
                        <!-- конец ГЛАВНАЯ КАРТИНКА ЭКСКУРСИИ -->
                    </td>
                </tr>
            </table>
            <hr>

            <!-- ГАЛЕРЕЯ -->
            <div class="excursion-gallery">
                {% for img in gallery %}
                    <div class="excursion-gallery-item">
                        <div>
                            <div class="remove"
                                 data-action="{% url "excursions.views.ajax.excursion_image_remove" img.id %}">
                                <button class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            {% thumbnail img.image 0x150 as thumb %}
                            <img class="lazy" data-original="{{ thumb.url }}"/>
                        </div>
                    </div>
                {% endfor %}
                <div class="excursion-gallery-item">
                    <div class="add-image">+</div>
                </div>
                <input type="file" class="add-image-selector">
            </div>
            <div style="clear:right"></div>
            <!-- конец ГАЛЕРЕЯ -->

            <!-- ЦЕНЫ -->
            <div style="float: right;width:200px;padding-left: 1em">
                <h3 style="margin-top: 0">Цены:</h3>
                <textarea rows="9" style="max-width: 100%;min-width: 100%;" class="form-control"
                          id="excursion-price-list"
                          name="priceList">{{ current_excursion.priceList|safe }}</textarea>
                <button type="submit"
                        style="margin-top: 1em"
                        class="excursion-content-submit btn btn-default pull-right">
                    <span class="glyphicon glyphicon-save"> Сохранить</span>
                </button>
            </div>
            <!-- конец ЦЕНЫ -->

            <!-- ПОДРОБНОЕ ОПИСАНИЕ ЭКУСКУРСИИ -->
            <div contenteditable="true" id="excursion-description"
                 style="margin-right: 200px; padding-right: 1em; border-right: 1px solid #808080">
                {{ current_excursion.description|safe|default:"..." }}
            </div>
            <!-- конец ПОДРОБНОЕ ОПИСАНИЕ ЭКУСКУРСИИ -->
        </div>

    </form>
    {% addtoblock "footerjs" %}
    {% endaddtoblock %}
    <script src="{% static "bower/ckeditor/ckeditor.js" %}"></script>

    {% addtoblock "footerjs" %}
        <script>
            new ExcursionModel({
                id: {{ current_excursion.id }},
                csrf: '{{ csrf_token }}'
            });
        </script>
    {% endaddtoblock %}
</div>