{% load static sekizai_tags thumbnail %}
{#<form id="excursion-save-form" method="post" action="{% url "excursions.views.ajax.excursion_save" %}">#}
<div id="excursion-content">
    {#    <div class="exursion-content-imagelist" style="width:200px;float: right">#}
    {#        Cool#}
    {#    </div>#}
    {#    {% with current_excursion.img_previews as object %}#}
    {#        {% include "admin/filer/widgets/admin_file.html" %}#}
    {#    {% endwith %}#}
    <form class="excursion-form" action="{% url "excursions.views.ajax.excursion_save" %}">
        <div style="clear:right"></div>

        <div class="" style="">
            <table style="width: 100%;table-layout: fixed">
                <tr>
                    <td style="width:75%;">
                        <h2 contenteditable="true" id="excursion-title">{{ current_excursion.title|default:"..." }}</h2>

                        <div id="excursion-short-description" contenteditable="true">
                            {{ current_excursion.short_description|safe|default:"..." }}
                        </div>
                    </td>
                    <td style="width: 25%;text-align: right">
                        <div>
                            {% if  current_excursion.img_preview %}
                                {% thumbnail current_excursion.img_preview 150x150 as thumb %}
                            {% endif %}
                            <img name="image"
                                 src="{{ thumb.url }}"
                                 style="max-width: 150px;border-radius: 0.25em;"/>
                            <input type="file" name="small_image" class="image-selector" style="display: none;">
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
            {##}
            {#            <div class="excursion-gallery">#}
            {#                <div class="excursion-gallery-item"><img src=""></div>#}
            {#                <div class="excursion-gallery-item"><img src=""></div>#}
            {#                <div class="excursion-gallery-item"><img src=""></div>#}
            {#                <div class="excursion-gallery-item"><img src=""></div>#}
            {#                <div class="excursion-gallery-item"><img src=""></div>#}
            {#            </div>#}
            {#            <div style="clear:right"></div>#}
            {#        <form name="big_image">#}
            {#            <div style="text-align: center;padding: 1em 0">#}
            {#                <img name="image"#}
            {#                     src="{% if current_excursion.image %}#}
            {#                            {{ current_excursion.image.url }}#}
            {#                        {% endif %}"#}
            {#                     style="max-width:100%;max-height: 400px"/>#}
            {##}
            {#                <div style="padding-top: 0.5em;font-style: italic" contenteditable="true">#}
            {#                    подпись#}
            {#                </div>#}
            {#                <input type="file" name="big_image" class="image-selector" style="display: none;">#}
            {#            </div>#}
            <div style="float: right;width:200px;padding-left: 1em">
                <h3 style="margin-top: 0">Цены:</h3>
                <textarea rows="9" style="max-width: 100%;min-width: 100%;" class="form-control"
                          id="excursion-price-list"
                          name="priceList">{{ current_excursion.priceList|safe }}</textarea>
                <button type="submit"
                        style="margin-top: 1em"
                        class="excursion-content-submit btn btn-default pull-right">
                    <span class="glyphicon glyphicon-save"> Сохранить</span>
                </button>
            </div>
            <div contenteditable="true" id="excursion-description"
                 style="margin-right: 200px; padding-right: 1em; border-right: 1px solid #808080">
                {{ current_excursion.description|safe|default:"..." }}
            </div>

        </div>

    </form>
    {% addtoblock "footerjs" %}
        <script src="{% static "bower/ckeditor/ckeditor.js" %}"></script>
    {% endaddtoblock %}

    {% addtoblock "footerjs" %}
        <script>
            var editor_config = {
                enterMode: CKEDITOR.ENTER_BR,
                extraPlugins: 'sourcedialog,showblocks,justify,colordialog,colorbutton,liststyle'
            };

            CKEDITOR.disableAutoInline = true;
            CKEDITOR.inline('excursion-description', editor_config);

            $(".excursion-form").submit(function () {
                var title = $("#excursion-title").html();
                var description = $("#excursion-description").html();
                var short_description = $("#excursion-short-description").html();
                var price_list = $("#excursion-price-list")[0].value;

                var formData = new FormData();
                console.log(this.small_image.dataset.changed);
                if (this.small_image.dataset.changed) {
                    formData.append("small_image", this.small_image.files[0]);
                }
                {#                formData.append("big_image", this.big_image.files[0]);#}
                formData.append("id", {{ current_excursion.id }});
                formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                formData.append("title", title.trim());
                formData.append("description", description.trim());
                formData.append("short_description", short_description.trim());
                formData.append("price_list", price_list.trim());

                $.ajax({
                    url: this.action,
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function () {
                    InterfaceAlerts.showSuccess();
                }).fail(function () {
                    InterfaceAlerts.showFail();
                });

                return false;
            });

            {#            $(".image-selector")#}

            $(".image-selector").on("change", function () {
                var that = this;
                if (that.files.length > 0) {
                    var file = that.files[0];
                    var fileReader = new FileReader();
                    fileReader.onload = function (e) {
                        $(that).siblings("img")[0].src = e.target.result;
                    };
                    fileReader.readAsDataURL(file);
                }
                that.dataset['changed'] = 1;
            }).each(function (i, item) {
                var that = this;
                $(that).parent().find("img").click(function () {
                    $(that).click();
                });
            });

        </script>
    {% endaddtoblock %}
</div>