{% load thumbnail %}
<h2 id="excursion-title" style="margin-bottom: 0.25em">
    {{ current_excursion.title|default:"..." }}
</h2>


{% if current_excursion.img_preview %}
    <hr>
    <div class="excursion-preview-container">
        <a href="{{ current_excursion.img_preview.url }}">
            {% thumbnail current_excursion.img_preview 1024x400 as thumb %}
            <img class="lazy fadein" data-original="{{ thumb.url }}"/>
            <noscript>
                <img src="{{ thumb.url }}"/>
            </noscript>
        </a>
    </div>
    <hr>
{% endif %}

<div id="excursion-description">
    {{ current_excursion.description|safe|default:"..." }}
</div>


{% if current_excursion.priceList %}
    <h3>Цены:</h3>
    <div id="excursion-price-list">
        <table class="table">
            <thead>
            <tr>
                <td>Кол-во человек в группе</td>
                {% for k, v in current_excursion.price_list_rendered %}
                    <td>{{ k }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Цена в расчете на человека, руб.</td>
                {% for k, v in current_excursion.price_list_rendered %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}

