{% load thumbnail static %}
<div>
    <a class="hidden-lg hidden-md hidden-sm" href="{% url "excursions.views.category" current_excursion.category.pk %}">
        <button class="btn btn-sm btn-default"
                style="margin-bottom: 5px">{{ current_excursion.category.title }} </button>
    </a>
</div>

<h2 id="excursion-title" style="margin-bottom: 0.25em">
    {{ current_excursion.title|default:"..." }}
</h2>
<hr>

<!-- ГАЛЕРЕЯ -->

{% if gallery %}
    <div class="excursion-gallery guest">
        {% thumbnail current_excursion.img_preview 0x150 as thumb %}
        {% thumbnail current_excursion.img_preview 1024x400 as thumb_big %}
        <div class="excursion-gallery-item active"
             data-thumb-src="{{ thumb_big.url }}" data-src="{{ current_excursion.img_preview.url }}">
            <div>
                <img src="{{ thumb.url }}"/>
            </div>
        </div>
        {% for img in gallery %}
            {% thumbnail img.image 0x150 as thumb %}
            {% thumbnail img.image 1024x400 as thumb_big %}
            <div class="excursion-gallery-item"
                 data-thumb-src="{{ thumb_big.url }}" data-src="{{ img.image.url }}">
                <div>
                    <img src="{{ thumb.url }}"/>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- КОНТЕЙНЕР С ИЗОБРАЖЕНИЕМ -->
{% if current_excursion.img_preview %}
    <div class="excursion-preview-container{% if not gallery %} without-items{% endif %}">
        {#        <span class="preview-container-helper"></span>#}
        <a href="{{ current_excursion.img_preview.url }}">
            {% thumbnail current_excursion.img_preview 1024x400 as thumb %}
            <img class="lazy fadein main-image" data-original="{{ thumb.url }}"/>
        </a>
    </div>
{% endif %}
<!-- конец КОНТЕЙНЕР С ИЗОБРАЖЕНИЕМ -->
<div style="clear:right"></div>

<hr>
<!-- конец ГАЛЕРЕЯ -->

<!-- ОПИСАНИЕ -->
<div id="excursion-description">
    {{ current_excursion.description|safe|default:"..." }}
</div>
<!-- конец ОПИСАНИЕ -->

{% if current_excursion.yandex_map_script %}
<hr>
    <!-- КАРТА -->
    <div class="excursion-map">
        {{ current_excursion.yandex_map_script|safe }}
    </div>
    <!-- конец КАРТЫ -->
{% endif %}

<!-- ЦЕНЫ -->
{% if current_excursion.priceList %}
    <hr>
    <h3>Рассчитать цену:</h3>
    <form class="form-inline" id="price-calculator">
        <div class="input-group" style="margin-bottom: 5px; ">
            <span class="input-group-addon">Взрослых</span>
            <input type="text" class="form-control" name="adults_count" placeholder="0"/>
        </div>
        <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">Детей</span>
            <input type="text" class="form-control" name="children_count" placeholder="0"/>
        </div>
        = <label id="priceOut">0</label> руб.
    </form>
    <hr>
    {#    <noscript>#}
    <div class="hidden-sm hidden-xs hidden-md">
        <h3>Цены:</h3>

        <div id="excursion-price-list">
            <table class="table">
                <thead>
                <tr>
                    <td>Кол-во человек в группе</td>
                    {% for k, v in current_excursion.price_list_rendered %}
                        <td>{{ k }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Цена в расчете на человека, руб.</td>
                    {% for k, v in current_excursion.price_list_rendered %}
                        <td>{{ v }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {#    </noscript>#}
{% endif %}
<!-- конец ЦЕНЫ -->

<script>
    // кликанье на элементы галереи
    var galleryItems = $(".excursion-gallery-item");
    galleryItems.on("click", function () {
        $(".main-image").attr("src", $(this).data("thumbSrc"))
                .parent().attr("href", $(this).data("src"));
        galleryItems.removeClass("active");
        $(this).addClass("active");
    });

    // рассчет цены
    new ExcursionPriceComputer({{ price_list }})

</script>

