{% load thumbnail %}
<h2 id="excursion-title">
    {{ current_excursion.title|default:"..." }}
</h2>

{% if current_excursion.img_preview %}
    <div style="text-align: center">
        <a href="{{ current_excursion.img_preview.url }}">
            {% thumbnail current_excursion.img_preview 1024x400 as thumb %}
            <img src="{{ thumb.url }}"
                 style=" margin: 1em 0;border: 4px solid #000000"/>
        </a>
    </div>
{% endif %}
<div id="excursion-description">
    {{ current_excursion.description|safe|default:"..." }}
</div>

{% if current_excursion.priceList %}
    <h3>Цены:</h3>
    <div id="excursion-price-list">
        <table class="table">
            <thead>
            <tr>
                <td>Кол-во человек в группе</td>
                {% for k, v in current_excursion.price_list_rendered %}
                    <td>{{ k }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Цена в расчете на человека, руб.</td>
                {% for k, v in current_excursion.price_list_rendered %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{##}
{#<div id="excursion-short-description">#}
{#    {{ current_excursion.short_description|safe|default:"..." }}#}
{#</div>#}