{% load i18n %}
<h3>{% trans "Заявка"%} №{{ appointment.pk }} {% trans "от"%} {{ appointment.create_date|date:"Y.m.d H:i" }}</h3>
{% trans "Спасибо за оставленную заявку!" %} <br>
{% trans "Ваш запрос принят и направлен нашему оператору."%} <br>
{% trans "Мы постараемся в кратчайшие сроки ответить Вам" %}
<hr>
<h4>{% trans "Вы указали следующую информацию:" %}</h4>
{% trans "ФИО" %}: {{ appointment.full_name }} <br>
{% if appointment.phone %}{% trans "Телефон" %}: {{ appointment.phone }} <br>{% endif %}
{% if appointment.email %}{% trans "Почта" %}: <a href="mailto:{{ appointment.email }} ">{{ appointment.email }} </a>{% endif %}
<p>
{{ appointment.comment }}
<hr>
{% trans "Экскурсионное агентство" %} <a href="http://irgid.ru">«{% trans "Иргид" %}»</a> <br>
2012-{% now "Y" %} {% trans "гг."%}