{% extends "_/base.html" %}
{% block content %}
{#    <img data-id="4"#}
{#         src="http://django-irgid.mmailm.lclients.ru/media/textpage/b60c20cb-b8ea-4814-9d82-e7056195d233.gif"#}
{#         style="float:left; height:424px; width:302px"/>#}
    Экскурсионное агентство &laquo;Иргид&raquo; предлагает Вам
    отправиться в уникальное путешествие по неизведанным страницам прошлого, настоящего и будущего Сибири. На Ваш выбор
    более 50 экскурсий по наиболее доступным в настоящий момент районам Иркутской земли.<br/>
    <br/>
    Наша организация была основана 11 января 2013 года. Целью экскурсионного бюро&nbsp; является поддержка и развитие
    образования на территории Иркутской области в любых возможных формах. Совместно с профессиональными краеведами и
    педагогами нами была разработана совершенно новая методика проведения экскурсий и классных часов с&nbsp; тем, чтобы
    выработать в молодом поколении желание трудиться на благо Родины, а также умение самостоятельно мыслить, находить и
    осваивать новую информацию. Мы имеем исключительно положительный практический опыт&nbsp; работы с детьми в возрасте
    от 4 до 18 лет. Дети доверяют нам. Мы привыкли не обманывать их лучшие чувства. Наша организация работает без
    посредников, что позволяет нам предоставлять комфортабельный транспорт, лучших специалистов и безопасное питание по
    самым низким ценам.<br/>
    <br/>
    Мы работаем только с профессионалами своей области и высоко ценим их совместный труд на благо просвещения.
    Экскурсоводы, многие из которых уже состоявшиеся педагоги, краеведы, писатели, ученые, члены общества охраны
    памятников и культуры, вообщем люди &laquo;старой закалки&raquo;, не понаслышке знающие свою землю и любящие ее.
    Квалифицированные и лицензированные водители, не имеющие серьезных правонарушений и всегда готовые сделать все
    возможное, чтобы показать самые недоступные районы нашего края. Эти экскурсии &ndash; исключительно плод нашего
    совместного труда.<br/>
    <br/>
    Иркутская земля часто кажется безграничной, но мы постарались отобрать для Вас лучшие уголки нашего края. Мы
    осознаем, что многое осталось неохваченным, но не унываем, ибо нет пределов совершенствованию. Между всех богатств
    Сибири два краеугольных камня, с которыми знаком каждый человек на планете &ndash; Байкал и Иркутск.<br/>
{#    <img data-id="5" src="/media/textpage/773cea06-384f-411f-9504-22f8329d0a3b.gif"#}
{#         style="float:right; height:240px; width:429px"/>#}
    <br/>
    Вечный город Иркутск &mdash; одно из пяти древнейших мест поселения человека на планете Земля. Некогда центр самой
    большой территории в мире. &laquo;Совсем интеллигентный. Совсем Европа&raquo;, &mdash; как отзывался о нем
    А.П.Чехов, посетивший Иркутск в июне 1890 года. Морской город, хотя отнюдь не рядом с океаном. Иркутск трижды сыграл
    решающую роль в судьбе России и сыграет ее вновь не раз в будущем. Семь святых мужей благословили Иркутскую землю
    своей поступью. Шелихов, Сперанский, Полевой, Трубецкой, Муравьев-Амурский, Обручев, Хилков, Киров, Колчак, Гашек,
    Миль, Рокоссовский, Герасимов, Гайдай, Вампилов, Распутин &mdash; едва ли полный список личностей, оставивших
    неизгладимый след в истории Иркутска.<br/>
    <br/>
    Владыка Байкал &mdash; бьющееся сердце Земли. Кормилец и хозяин пятой части всех мировых пресных вод. Самый светлый,
    самый чистый центр происхождения жизни, приютивший более 3,5 тысяч&nbsp; животных и растений, большинство из которых
    уникальны. Глубочайшая впадина в земной коре возрастом в 700 миллионов лет. Зарождающийся океан, окаймленный
    всевозможными видами ландшафтов. Самое солнечное место России.<br/>
    <br/>
    Мы уверены в том, что только зная историю и особенности своего края, человек может строить будущее, помня об ошибках
    прошлого, трезво оценивая настоящее и смело глядя в грядущее. У нас есть большое желание поделиться с Вами гордостью
    за Сибирскую землю, центром которой всегда был и будет славный город Иркутск.
{#    <img data-id="6"#}
{#              src="http://django-irgid.mmailm.lclients.ru/media/textpage/fdd6f4fe-318c-4401-8a75-8ddc2bf75cc3.png"#}
{#              style="float:left; height:382px; width:270px"/>#}

{% endblock %}