{% extends "_/base.html" %}
{% block content %}
    <strong>Что входит в стоимость экскурсии?</strong><br/>
    В стоимость экскурсии входит оплата услуг квалифицированного экскурсовода, стоимость аренды комфортабельного
    автобуса (не ранее 2008 года выпуска) с неоднократно проверенным нами водителем, имеющим непрерывный трехлетний стаж
    работы на автомобильных транспортных средствах категории &laquo;Д&raquo;, а также цена входного билета в музей (если
    планируется его посещение). Отдельно оплачивается только питание в ходе продолжительных поездок (как правило, не
    более 150 рублей). Мы всегда можем найти для вас место, где можно вкусно, безопасно и недорого поесть.<br/>
    &nbsp;<br/>
    <strong>Когда можно заказать экскурсию?</strong><br/>
    Мы просим вас предупреждать нас о дате проведения экскурсии не позднее, чем за 3 суток.<br/>
    Мы работаем с 8:00 до 20:00 ежедневно без праздничных и выходных дней.<br/>
    &nbsp;<br/>
    <strong>Как заказать экскурсию?</strong><br/>
    Чтобы заказать экскурсию, вам достаточно позвонить по указанным телефонам или отправить заявку в свободной форме (с
    указанием контактных данных) по электронной почте. После принятия заявки в течение суток мы свяжемся с вами и
    подтвердим возможность проведения экскурсии в указанный вами срок.<br/>
    &nbsp;<br/>
    <strong>Какие документы вы можете нам предоставить?</strong><br/>
    Перед проведением первой экскурсии мы в обязательном порядке предоставляем директору предприятия договор, заверенный
    с нашей стороны, копии регистрационных документов и доверенности, а также, по запросу, копию лицензии перевозчика.
    По итогам проведения экскурсии предоставляются платежные документы в форме бланков строгой отчетности. В случае
    работы по безналичному расчету или по просьбе бухгалтерии, мы предоставляем акт приемки-сдачи работ, счет-фактуру, а
    также копию информационного письма о праве применения упрощенной системы налогообложения.<br/>
    &nbsp;<br/>
    <strong>Платит ли старший группы за экскурсию?</strong><br/>
    Старший группы имеет право бесплатно посещать музеи и присутствовать на наших экскурсиях.<br/>
    &nbsp;<br/>
    <strong>Оборудованы ли наши автобусы необходимыми знаками?</strong><br/>
    Все наши водители имеют необходимую лицензию на перевозку пассажиров. Все автобусы ремнями безопасности (п. 22.9.
    ПДД РФ).<br/>
    &nbsp;<br/>
    <strong>Мы всегда рады ответить на любые интересующие вас вопросы!</strong>
{% endblock %}