.e-preview {
  margin-left: -8px;
  margin-right: -8px; }

.e-class {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  padding: 16px;
  height: 240px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  padding-top: 80px;
  box-shadow: 0 0 1px gray; }
  .e-class:hover {
    box-shadow: 0 0 8px gray; }

.e-class-menu {
  margin-top: 0.5em; }

.e-class-container {
  width: 33.3%;
  float: left;
  padding: 8px;
  position: relative; }
  @media (max-width: 768px) {
    .e-class-container {
      width: 50%; } }
  @media (max-width: 500px) {
    .e-class-container {
      width: 100%; } }
  .e-class-container .e-class-menu {
    position: absolute;
    bottom: 16px;
    right: 24px;
    left: 24px; }

.e-ex-container {
  width: 24%;
  float: left;
  position: relative; }
  @media (max-width: 768px) {
    .e-ex-container {
      width: 50%; } }
  @media (max-width: 500px) {
    .e-ex-container {
      width: 100%; } }

.e-ex {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  padding: 16px;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 1px gray; }
  .e-ex:hover {
    box-shadow: 0 0 8px gray; }

/* excursions */
.excursions-list {
  padding-left: 0.75em;
  padding-bottom: 1em; }
  .excursions-list .excursion:hover {
    box-shadow: 0 0 2px #2b679c;
    color: #2b679c; }

.excursion {
  display: block;
  position: relative;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  margin: 0.25em 0 2px;
  padding: 0.5em 0.75em;
  border-radius: 8px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
  .excursion > a {
    text-decoration: none;
    color: #000000; }
  .excursion img.img-preview {
    max-width: 100%;
    border-radius: 0.25em; }
    .excursion img.img-preview[src] {
      border: 1px solid #000000; }
  .excursion .e-excursion-item-menu {
    position: absolute;
    right: 0.5em;
    top: 0.75em; }
  .excursion .toggle {
    color: #2b679c;
    cursor: pointer;
    border-bottom: dashed 1px; }
    .excursion .toggle:hover {
      color: black; }
  .excursion .description {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
  .excursion h2 {
    margin: 0;
    padding-left: 0; }
  .excursion .price {
    margin-top: 8px; }
  .excursion .price table {
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    border-collapse: separate;
    /*font-size: 1e*/ }
  .excursion .price th, .excursion .price td {
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    text-align: center; }

.e-categories-excursion .e-category.active {
  position: relative; }
  .e-categories-excursion .e-category.active:after {
    content: ' ';
    position: absolute;
    left: -0px;
    top: 101%;
    border-width: 4px 4px;
    border-style: solid;
    border-color: #204d74 #204d74 transparent transparent; }
  .e-categories-excursion .e-category.active.without-excursions:after {
    content: '';
    border: none; }
.e-categories-excursion .list-group-item-excursion {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  margin-left: 8px; }
  .e-categories-excursion .list-group-item-excursion.first {
    position: relative;
    overflow: hidden; }
    .e-categories-excursion .list-group-item-excursion.first:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      margin-top: -1px;
      content: ' ';
      box-shadow: 0 0 3px 2px black; }
  .e-categories-excursion .list-group-item-excursion.current {
    margin-left: 4px; }

/* end excursions */
.excursion-gallery {
  padding-bottom: 1em;
  margin: -0.5em;
  overflow: hidden; }
  .excursion-gallery input[type=file] {
    display: none; }

.excursion-preview-container {
  text-align: center; }
  .excursion-preview-container img {
    max-width: 100%;
    border: 1px solid #000000; }

.excursion-gallery-item {
  position: relative;
  width: 20%;
  height: 150px;
  float: left;
  padding: 0.25em; }
  @media (max-width: 990px) {
    .excursion-gallery-item {
      width: 25%; } }
  @media (max-width: 768px) {
    .excursion-gallery-item {
      width: 33%; } }
  @media (max-width: 500px) {
    .excursion-gallery-item {
      width: 100%; } }
  .excursion-gallery-item img, .excursion-gallery-item .add-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; }
    .excursion-gallery-item img:hover, .excursion-gallery-item .add-image:hover {
      box-shadow: 0 0 4px gray; }
  .excursion-gallery-item .add-image {
    text-align: center;
    background-color: lightskyblue;
    color: #002b36;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 37.5px; }
  .excursion-gallery-item .remove {
    position: absolute;
    top: 0;
    right: 0; }
